.projects{
    background: #34547A;
    padding: 100px 0 100px;
}
.projects__container{
    display: flex;
    justify-content: center;
    width: 1100px;
    margin: 0 auto;
}
.projects__list{
    display: flex;
    margin-right: 50px;
}
.projects__list:last-child{
    margin-right: 0;
}
.list__img{
    margin-right: 25px;
}
.count{
    font-weight: 500;
    font-size: 21px;
    color: white;
}
.count-project{
    font-size: 16px;
    font-weight: 500;
    color: white;

}